*{
	box-sizing: border-box;
}

body{
	position: relative;
	width: 1200px;
	border: 1px black;
	margin: 1px auto;
	padding: 5px auto;
	font-family: 'Times New Roman', Times, serif;
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}

.grid-container > div{
	background-color: turquoise;
	font-size: 20px;
	display: flex;
	align-items: center;
}

/* Header */
.site-header{
	grid-area: 1 / 1 / 1 / span 3;
	border: solid thick;
	height: 80px;
	color: black;
	text-shadow: -1px 1px white;
	border-radius: 10px;
	border-style: ridge;
	display: inline-block;
	overflow: hidden;
}

.site-header .site-logo{
	float: left;
}

.site-logo{
	height: 70px;
	width: 150px;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 15em;
}

h1{
	display: flex;
}

/* Navigation Bar */
.site-navigation{
	grid-area: 2 / 1 / 2 / span 3;
	border-radius: 10px;
	border-style: ridge;
	height: 40px;
	overflow: hidden;
}

.site-navigation ul{
	list-style-type: none;
}

.site-navigation li{
	display: inline-block;
}

.site-navigation li a{
	display: block;
	color: blue;
	font-size: 20px;
	padding: 10px 20px;
	text-decoration: none;
}

.site-navigation li a:hover{
	background-color: orange;
	color: white;
}

.signup{
	margin-left: 30em;
}

/* Side Bar */
.sidenav{
	grid-area: 3 / 1 / 3 / 1;
	background-image: url('../img/vgundam.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-weight:bold;
	color: blue;
	text-shadow: -1px 1px white;
	list-style:square;
	border-radius: 10px;
	border-style: ridge;
}

.sidenav h3{
	height: 2em;
	width: auto;
	margin: 10%;
	font-size: x-large;
	text-align: center;
	border: 2px solid red;
	background-color:darkorange;
	border-radius: 50%;
	border-style: ridge;
}

.sidenav .sidebarimage{
	height: 30%;
	width: 40%;
	margin-left: 25%;
	border: 2px solid red;
	border-radius: 5%;
	border-style: ridge;
}

.sidenav li{
	margin: 10px;
	padding: 10px;
	border: 2px solid darkorange;
	background-color: turquoise;
	border-radius: 20%;
	border-style: ridge;
}

.sidenav li:hover{
	background-color: orange;
	color:black;
}

/* Main Section */
.site-main{
	grid-area: 3 / 2 / 3 / span 2;
	margin: 5px;
	padding: 5px;
	text-align: justify;
	border-radius: 10px;
	border-style: ridge;
}

h2{
	margin-left: 10px;
	padding: 5px;
}

.displayimage{
	margin: 10px 0 15px;
	padding: 5px;
	height: 300px;
	width: 100%;
}

/* Footer */
.site-footer{
	grid-area: 4 / 1 / 4 / span 3;
	bottom: 0;
	margin: 5px;
	height: 25px;
	border-radius: 10px;
	border-style: ridge;
}

footer{
	margin-left: 30%;
}

